body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: #ffffff;
    overflow-x: hidden;
}


header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    font-family: sans-serif;
}

header a{
    text-decoration: none;
    color: #b3adad;
}

.branding{
    display: flex;
    align-items: center;
}

.header-button{
    border-radius: 2rem;
    height: 2rem;
    padding: 0 2rem 0 2rem;
    border: 0px solid;
    background: linear-gradient(to right , #31CF71, #2CBAC4);
    color: #ffffff;
    font-family: sans-serif;
}

.button-container{
    display: flex;
    align-items: center;
}

#next-generation{
    display: flex;
    width: 100vw;
    position: relative;
    height: 70vh;
    /* justify-content: space-evenly; */
    background-color: #FAFAFA;
    /* note */
    overflow: hidden;

}



.image-container{
   margin-bottom: -150px;
   position: absolute;
   right: -15rem;
   top: -6rem;
   z-index: 3;
} 



.bg-image img{
    height: 50rem;
}
.phone-img img{
    height: 50rem;
}
.phn-img{
    position: absolute;
    left: 10rem;
    top: -7rem;
}
/* .bg-img{
    position: absolute;
    right: -15rem;
    top: -12.3rem;
} */

.next-gen-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12rem;
    column-gap: 1rem;
}

.next-heading{
    padding-top: 6rem;
    font-size: 3rem;
    font-family: sans-serif;
    color: #24283E;
    font-weight: 500;
    
}

.next-info{
    font-family: sans-serif;
    color: #A4A3A7;
    line-height: 1.5;
    margin-top: -1rem;
    font-weight: 550;
}

.next-button{
    border-radius: 2rem;
    height: 2.5rem;
    margin-top: 1rem;
    width: 10rem;
    border: 0px solid;
    font-family: sans-serif;
    background: linear-gradient(to right , #31CF71, #2CBAC4);
    color: #ffffff;
}

#why-choose-easybank{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    position: relative;
    height: 70vh;
    background-color: #F4F5F7;
    overflow: hidden;
}

.easybank-container{
    margin-top: 5rem;
}

.choose-easybank{
 margin-bottom: 2rem;
}

.choose-bank{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.choose-easybank-info{
    font-family: sans-serif;
    width : 20vw;
    color: #A4A3A7;
    line-height: 1.5;
    font-weight: 500;
}

.types{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

.online-banking{
    height: 20rem;
    width: 15rem;
}

.easybank-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-left: 13rem;
    /* border: 1px solid; */
}

.online-heading{
    font-family: sans-serif;
    font-weight: 500;
    color: #3f3f40
}

.online-info{
    font-family: sans-serif;
    color: #A4A3A7;
    font-weight: 500;
}

#latest-articles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    position: relative;
    background-color: #ffffff;
    margin-top: 2rem;
    /* overflow-x: hidden; */

}

.articles{
    /* border: 1px solid; */
    width: 80vw;
    padding-left: 13rem;
    margin-top: -3rem;
}

.article-types{
    margin-top: 2rem;
    display: flex;
    height: 50vh;
    width: 80vw;
    justify-content: space-between;
    /* border: 1px solid; */
}

.article-img{
    height: 20vh;
    width: 15rem;
}

.article-1{
    height: 28rem;
    width: 15rem;
   /* border: 1px solid; */
   border-radius: 0.5rem;
}

.article-heading{
    color: #3B3F57;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 2rem;
}

.author{
    color: #7f7f81;
}

.author-des{
    color: #3B3F57;
    font-weight: 500;
    font-family: sans-serif;
}

.footer-container{
    background-color: #020412;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    display: flex;
    /* overflow-x: hidden; */

}

.aboutus li a {
    color: #ffffff;
    text-decoration: none;
    float: left;
}

.careers li a {
    color: #ffffff;
    text-decoration: none;
    float: left;
}

.copyright{
    color: #ffffff;
}

.logos-part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid #ffffff; */
    height: 10rem;
    margin-left: 2rem;
}

.logo-container{
    display: flex;
    justify-content: space-around;
}

.aboutus ul{
    /* border: 1px solid #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    margin-left: -3rem;
}

.aboutus a {
    font-size: 1.2rem;
}

.careers ul{
    /* border: 1px solid #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    margin-right: 3rem;
}

.careers a {
    font-size: 1.2rem;
}

.footer-button{
    /* border: 1px solid #ffffff; */
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}



@media (min-width:376px) {
    .navbar{
        display: none;
    }
    .nav-container{
        display: none;
    }
    .mobile-image-container{
        display: none;
    }
    /* .mobile-info{
        display: none;
    } */
    .mobile-description{
        display: none;
    }
}

@media (max-width: 375px) {
    /* mobile css */
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .navbar {
        overflow-x: hidden;
    }

    
    
    .hamburger {
        display: block;
        float: right;
        cursor: pointer;
        padding: 18px 16px;
        transition: transform 0.3s;
    }
    
    .hamburger img {
        width: 30px;
        height: auto;
    }
    
    .nav-container {
        display: none;
        border: 1px solid;
        height: 250px;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-items li {
        padding: 10px;
        text-align: center;
    }
    
    .nav-items a {
        display: block;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    
    li a{
        font-size: 3rem;
        font-family: sans-serif;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    nav{
        display: none;
    }

    .image-container{
        display: none;
    }

    /* header{
        width: 100vw;
    } */

    header .container{
        display: flex;
        justify-content: space-between;
        /* border: 1px solid; */
        width: 62rem;
        overflow-x: hidden;
        height: 20h;
    }
    
    .navbar{
        display: block;
        margin-top: 1rem;
    }

    .nav-items{
        /* border: 1px solid; */
        margin-top: 3rem;
    }

    /* section1 */

    #next-generation{
        display: flex;
        width: 62rem;
        position: relative;
        height: 110rem;
        background-color: #FAFAFA;
    }

    .mobile-description{
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -6rem;
        margin-bottom: 5rem;
    }

    .mobile-image-container{
       height: 100%;
    }

    .mobile-bg-img{
        position: absolute;
        width: 62rem;
        /* margin-right: 12rem; */
        right: 0;
    }

    .mobile-phn-img{
        position: absolute;
        width: 60rem;
        right: 0;
        top: -21rem;
        height: 80rem;
    }

    #navContainer{
        position: absolute;
        z-index: 2;
        right: 8rem;
        width: 45rem;
        height: 45rem;
        margin-top: 4rem;
        border-radius: 1rem;
    }

   

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid; */
        height: 40rem;
    }

    .next-heading{
        font-size: 7rem;
        margin-top: -6rem;
    }

    .next-info{
        font-size: 2rem;
    }

    .next-button{
        width: 18rem;
        height: 5rem;
        font-size: 2rem;
        margin-top: 2rem;
    }

    .mobile-info{
        /* margin-top: 65rem;
        border: 1px solid;
        width: 60rem;
        margin-right: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; */
        display: none;
        border: 2px solid;
    }
    /* section 2 */

    #why-choose-easybank{
        /* display: none; */
        /* margin-top: 95rem; */
        /* border: 1px solid; */
        height: 180rem;
        width: 61.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
    }

    

    .choose-easybank {
        display: flex;
        flex-direction: column;
        /* border: 1px solid; */
        width: 60rem;
    }

    .choose-easybank .choose-easybank-info {
        /* border: 1px solid; */
        width: 40rem;
    }

    .types{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid; */
    }

    .choose-bank{
        font-size: 5rem;
        /* border: 1px solid; */
        width: 30rem;
        margin-left: 2rem;
    }

    .choose-easybank-info{
        font-size: 2.5rem;
        margin-left: -2rem;
        margin-top: -2rem;
    }

    .online-banking{
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35rem;
        height: 30rem;
        margin-top: 4rem;
    }

    .online-img{
        width: 10rem;
    }

    .online-heading{
        font-size: 3rem;
    }

    .online-info{
        font-size: 2rem;
    }
    /* section 3 */

    #latest-articles{
        /* display: none; */
        display: flex;
        flex-direction: column;
        /* border: 1px solid; */
        /* height: 180rem;
        width: 61.5rem; */
    }

    .article-types{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid; */
        height: 100rem;
        width: 40rem;
        margin-left: -2rem;
    }

    .article-1{
        /* border: 2px solid; */
        height: 75rem;
        border-radius: 2rem;
    }

    .article-heading{
        font-size: 4rem;
        width: 40rem;
        text-align: center;
        margin-left: -3rem;
        margin-top: 5rem;
    }

    .description{
        width: 30em;
        margin-left: 2rem;
    }

    .author{
        font-size: 2rem;
    }

    .author-des{
        font-size: 3rem;
    }
    .article-img{
        width: 40rem;
        height: 35rem;
    }

    .author{
        margin-top: 5rem;
    }

    /* footer */

    footer{
        /* display: none; */
        margin-top: 180rem;
        width: 62rem;

    }

    .footer-container{
        width: 62rem;
        min-height: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px  white;
        margin-top: 4rem;
    }

    .logo{
        width: 12rem;
        margin-left: 7rem;
    }

    .branding{
        border: 2px white;
    }

    .logo-container{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .footer-icon{
        width: 3.5rem;
        height: 3.5rem;
    }

    .aboutus li a{
        font-size: 2.5rem;
    }

    .aboutus ul{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        height: 20rem;
        /* border: 2px solid white; */
    }

    .careers li a{
        font-size: 2.5rem;
    }

    .careers ul{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        height: 20rem;
        /* border: 2px solid white; */
    }

    .footer-button{
        height: 20rem;
    }
    
    .button-container{
        margin-right: 4rem;
    }
    /* .button{
        border-radius: 2.5rem;
        height: 7rem;
        width: 25rem;
        padding: 0 2rem 0 2rem;
        border: 0px solid;
        background: linear-gradient(to right , #31CF71, #2CBAC4);
        color: #ffffff;
        font-family: sans-serif;
        font-size: 2rem;
        margin-top: 6rem;
        margin-bottom: 4rem;
    } */

    .copyright{
        font-size: 2rem;
    }

    .header-button{
        display: none;
    }

    /* nav-container */

    .nav-container{
        display: none;
    }
}